<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <div class="component-container01">
      <div class="component-container02">
        <div class="component-container03">
          <div class="component-container04">
            <div class="component-container05">
              <div class="component-container06">
                <div class="component-container07">
                  <div class="component-container08">
                    <img
                      alt="image"
                      src="/playground_assets/delivery-shipping-logo-vector-260nw-571479214-200w.webp"
                      class="component-image"
                    />
                    <h1 class="component-text"><span>FAST SHIPPING</span></h1>
                    <span class="component-text01">
                      <span>
                        We make shipping to your local FFL fast and Easy
                      </span>
                      <br />
                      <br />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="component-container09">
          <img
            alt="image"
            src="/playground_assets/images-200w.png"
            class="component-image1"
          />
          <h1 class="component-text05"><span>BEST PRICES</span></h1>
          <span class="component-text06">
            <span>
              We strive to have the most unbeatable prices than any other store
            </span>
          </span>
        </div>
      </div>
      <div class="component-container10">
        <img
          alt="image"
          src="/playground_assets/download%20%5B3%5D-200w.jpg"
          class="component-image2"
        />
        <h1 class="component-text07"><span>SAFE SHOPPING</span></h1>
        <span class="component-text08">
          <span>Secure checkout to protect all your information</span>
          <br />
        </span>
      </div>
    </div>
  </div>
</div>
