.component-container {
  flex: 0 0 auto;
  width: auto;
  height: 382px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.component-container01 {
  flex: 0 0 auto;
  width: auto;
  height: 382px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.component-container02 {
  flex: 0 0 auto;
  width: auto;
  height: 382px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.component-container03 {
  flex: 0 0 auto;
  width: auto;
  height: 382px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.component-container04 {
  flex: 0 0 auto;
  width: auto;
  height: 382px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.component-container05 {
  flex: 0 0 auto;
  width: auto;
  height: 382px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.component-container06 {
  flex: 0 0 auto;
  width: auto;
  height: 382px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.component-container07 {
  flex: 0 0 auto;
  width: auto;
  height: 382px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-container08 {
  width: 200px;
  height: 100%;
  display: flex;
  z-index: 100;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-style: ridge;
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.component-image {
  width: 124px;
  height: 121px;
  align-self: center;
  object-fit: cover;
}
.component-text {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}
.component-text01 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  align-self: flex-start;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  margin-top: 15px;
  text-align: center;
  font-family: Verdana;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 15px;
}
.component-container09 {
  width: 200px;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-style: ridge;
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.component-image1 {
  width: 100px;
  height: 122px;
  align-self: center;
  object-fit: cover;
  margin-bottom: 0px;
}
.component-text05 {
  font-size: 20px;
  margin-top: 0px;
  text-transform: uppercase;
  text-decoration: underline;
}
.component-text06 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  align-self: flex-start;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  margin-top: 15px;
  text-align: center;
  font-family: Verdana;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 15px;
}
.component-container10 {
  width: 200px;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-style: ridge;
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.component-image2 {
  width: 116px;
  height: 107px;
  object-fit: cover;
}
.component-text07 {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}
.component-text08 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  align-self: flex-start;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  margin-top: 15px;
  text-align: center;
  font-family: Verdana;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 15px;
}
@media(max-width: 479px) {
  .component-container05 {
    width: 0px;
  }
}
